{
  "swagger" : "2.0",
  "info" : {
    "description" : "Swagger HP CloudConnector api proxy service to application",
    "version" : "2017-03-08T14:49:43Z",
    "title" : "SwaggerCloudConnector"
  },
  "host" : "cloudapi.ph-pipe.com",
  "basePath" : "/cc",
  "schemes" : [ "https" ],
  "paths" : {
    "/V01/api/cloud-json" : {
      "get" : {
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "type" : "aws_proxy",
          "uri" : "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:103691013827:function:printer-timeline-backend/invocations",
          "responses" : {
            "default" : {
              "statusCode" : "200"
            }
          },
          "passthroughBehavior" : "when_no_match",
          "httpMethod" : "POST",
          "contentHandling" : "CONVERT_TO_TEXT"
        }
      }
    },
    "/V01/api/heartbeat" : {
      "get" : {
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "type" : "aws_proxy",
          "uri" : "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:103691013827:function:printer-timeline-backend/invocations",
          "responses" : {
            "default" : {
              "statusCode" : "200"
            }
          },
          "passthroughBehavior" : "when_no_match",
          "httpMethod" : "POST",
          "contentHandling" : "CONVERT_TO_TEXT"
        }
      }
    },
    "/V01/api/object" : {
      "get" : {
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "type" : "aws_proxy",
          "uri" : "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:103691013827:function:printer-timeline-backend/invocations",
          "responses" : {
            "default" : {
              "statusCode" : "200"
            }
          },
          "passthroughBehavior" : "when_no_match",
          "httpMethod" : "POST",
          "contentHandling" : "CONVERT_TO_TEXT"
        }
      }
    },
    "/V01/api/open-xml" : {
      "get" : {
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "type" : "aws_proxy",
          "uri" : "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:103691013827:function:printer-timeline-backend/invocations",
          "responses" : {
            "default" : {
              "statusCode" : "200"
            }
          },
          "passthroughBehavior" : "when_no_match",
          "httpMethod" : "POST",
          "contentHandling" : "CONVERT_TO_TEXT"
        }
      }
    },
    "/V01/api/rta" : {
      "get" : {
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "type" : "aws_proxy",
          "uri" : "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:103691013827:function:printer-timeline-backend/invocations",
          "responses" : {
            "default" : {
              "statusCode" : "200"
            }
          },
          "passthroughBehavior" : "when_no_match",
          "httpMethod" : "POST",
          "contentHandling" : "CONVERT_TO_TEXT"
        }
      }
    },
    "/V01/api/subscriptions" : {
      "get" : {
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ],
        "x-amazon-apigateway-integration" : {
          "type" : "aws_proxy",
          "uri" : "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:103691013827:function:printer-timeline-backend/invocations",
          "responses" : {
            "default" : {
              "statusCode" : "200"
            }
          },
          "passthroughBehavior" : "when_no_match",
          "httpMethod" : "POST",
          "contentHandling" : "CONVERT_TO_TEXT"
        }
      }
    }
  },
  "securityDefinitions" : {
    "api_key" : {
      "type" : "apiKey",
      "name" : "x-api-key",
      "in" : "header"
    },
    "AWSAuthenticator" : {
      "type" : "apiKey",
      "name" : "Unused",
      "in" : "header",
      "x-amazon-apigateway-authtype" : "custom",
      "x-amazon-apigateway-authorizer" : {
        "type" : "request",
        "authorizerUri" : "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:103691013827:function:AWSAuthenticator/invocations",
        "authorizerResultTtlInSeconds" : 0,
        "identitySource" : "method.request.header.PrinterSerialNumber, method.request.header.PrinterProductNumber, method.request.header.PrinterServiceID, method.request.header.Authorization"
      }
    }
  },
  "definitions" : {
    "Empty" : {
      "type" : "object",
      "title" : "Empty Schema"
    }
  },
  "x-amazon-apigateway-request-validators" : {
    "Validate query string parameters and headers" : {
      "validateRequestParameters" : true,
      "validateRequestBody" : false
    }
  },
  "x-amazon-apigateway-binary-media-types" : [ "image/png", "application/octet-stream", "text/html", "image/x-icon", "multipart/form-data" ]
}